[user]
  name = Marc Egea i Sala
  email = marc.egea.sala@gmail.com
[core]
  editor = vim
  excludesFile = ~/.gitignore_global
[alias]
  tree = log --graph --decorate --pretty=oneline --abbrev-commit

  # Clean branches that no longer exists in origin. This will not remove
  # branches that were never in origin.
  clean-orphan-branches="!git fetch -p && \
    for branch in `git branch -vv | grep ': gone]' | awk '{print $1}'`; do \
      git branch -D $branch; \
    done"

  update-from-upstream="!git fetch upstream && \
    git merge upstream/$(git rev-parse --abbrev-ref HEAD)"
[include]
  path = ~/.gitconfig.override
[diff]
	noprefix = true
